/* Common Elements */
section {
    padding: 30px 0;
    @include media-breakpoint-down(sm) {
        padding: 25px 0;
    }
}
.container {
    max-width: 1220px;
    padding: 0;
    @include media-breakpoint-down(lg) {
        max-width: 100%;
        padding: 0 50px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0 20px;
    }
}
/* aos */
@include media-breakpoint-down(lg) {
    [data-aos^=fade][data-aos^=fade] {
        opacity: 1 !important;
    }
    [data-aos=fade-up] {
        transform: translate3d(0, 0, 0) !important;
    }
    [data-aos] {
        pointer-events: revert !important;
    }
}
/* section description */
.description-block {
    max-width: 865px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(lg) {
        max-width: 100%;
    }
    &.mw-1030 {
        max-width: 1030px;
        @include media-breakpoint-down(lg) {
            max-width: 100%;
        }
    }
    &.mw-750 {
        max-width: 750px;
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }
    &.text-left {
        margin-left: 0;
        h2, p {
            text-align: left;
        }
    }
    h2, p {
        text-align: center;
    }
    h2 {
        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
    }
} 
/* list with ticks */
.list-tick {
    list-style-type: none;
    margin: 35px 0 45px;
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        margin: 25px 0 40px;
    }
    li {
        @extend %font-size-18;
        line-height: 26px;
        margin-bottom: 30px;
        padding: 1px 0 3px 52px;
        position: relative;
        @include media-breakpoint-down(sm) {
            padding: 0;
            margin-bottom: 25px;
            width: 50%;
            padding-right: 20px;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: url("../images/icons/tick.svg") no-repeat center/cover;
            width: 32px;
            height: 32px;
            @include media-breakpoint-down(sm) {
                position: relative;
                display: block;
                margin-bottom: 10px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
} 
/* background radials */
.radial-gradient {
    background: url("../images/pattern/radial-dual.png") no-repeat center/contain;
    width: 100%;
    min-height: 1750px;
    position: absolute;
    top: -400px;
    right: 0;
    @include media-breakpoint-up(xxl) {
        min-height: 2175px;
    }
    @include media-breakpoint-down(lg) {
        min-height: 1283px;
        background-size: cover;
    }
    @include media-breakpoint-down(sm) {
        min-height: 810px;
    }
} 
/* Floating icon - off season */
.floating-icon-block {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 10;
    @include media-breakpoint-down(lg) {
        right: 50px;
    }
    @include media-breakpoint-down(md) {
        position: relative;
        bottom: 0;
        right: 0;
    }
    a {
        display: block;
        width: 220px;
        position: relative;
        @include media-breakpoint-down(lg) {
            width: 180px;
        }
        @include media-breakpoint-down(md) {
            margin: 0 auto;
        }
        @include media-breakpoint-down(sm) {
            width: 170px;
        }
        img {
            width: 100%;
        }
    }
} 
/* Thank you block */
.thank-you-block, .thank-you-block-single {
    .product-block {
        position: relative;
        max-width: 161px;
        display: block;
        margin: 0 auto 30px;
        @include media-breakpoint-down(sm) {
            margin: 0 auto 20px;
        }
        &:before {
            content: "";
            position: absolute;
            top: -125px;
            left: -175px;
            right: 0;
            margin: auto;
            background: url("../images/pattern/radial-pattern-2.svg") no-repeat center/cover;
            width: 447px;
            height: 449px;
            z-index: 0;
            @include media-breakpoint-down(xs) {
                top: -100px;
                left: -155px;
                width: 415px;
                height: 417px;
            }
        }
        img {
            position: relative;
            z-index: 1;
        }
        .product-image {
            width: 100%;
        }
        .icon-thumbs {
            position: absolute;
            right: 0;
            top: 50px;
            box-shadow: 0 4px 30px rgba($blue, 0.25);
            border-radius: 50%;
        }
    }
    h2, p {
        text-align: center;
    }
    h2 {
        @extend %font-size-28;
        color: $color-primary;
    }
    p {
        @extend %font-size-only-20;
        color: $grey-200;
    }
} 
.thank-you-block-single {
    .product-block {
        max-width: 100%;
        &:before {
            display: none;
        }
        .icon-thumbs {
            position: relative;
            top: 0;
            display: block;
            margin: 0 auto;
            width: 90px;
        }
    }
}
/* download app */
.download-app-block {
    margin-top: 55px;
    @include media-breakpoint-down(sm) {
        margin-top: 35px;
    }
    p {
        @extend %font-size-16;
        font-weight: $font-weight-semibold;
    }
    a {
        margin-right: 20px;
        display: inline-block;
        &:hover {
            opacity: 0.85;
        }
        @include media-breakpoint-down(sm) {
            margin-right: 15px;
        }
        &:last-child {
            margin-right: 0;
        }
        img {
            max-width: 183px;
            width: auto;
            @include media-breakpoint-down(sm) {
                max-height: 42px;
            }
        }
    }
} 