/* Footer */ 
footer {
    background-color: $black-100;
    padding: 30px 0;
    margin-top: 3px;
    position: relative;
    a {
        @extend %hover-text;
    }
    .top-tier {
        padding-bottom: 10px;
        .col-social {
            flex: 0 0 19%;
            max-width: 19%;
        }
        .logo {
            width: 200px;
            margin-left: -8px;
        }
        .social-list {
            display: flex;
            flex-flow: row wrap;
            margin-top: 25px;
            list-style-type: none;
            li {
                margin-right: 24px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        p {
            @extend %font-size-16;
            line-height: 22px;
            color: $white;
            a {
                color: $blue-200;
                font-weight: $font-weight-semibold;
            }
        }
    }
    .bottom-tier {
        padding: 25px 0 0;
        border-top: 1px solid $grey-300;
        .company-block {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
        p {
            @extend %font-size-16;
            color: $grey-400;
            margin: 0;
        }
        .phone-list, .copyright-list {
            list-style-type: none;
            display: flex;
            flex-flow: row wrap;
            li {
                @extend %font-size-16;
                padding: 0 15px;
                border-right: 1px solid;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                    border-right: none;
                }
            }
        }
        .phone-list {
            li, a {
                color: $grey-400;
            }   
        }
        .copyright-list {
            width: 100%;
            margin-top: 40px;
            justify-content: center;
            li, a {
                color: $grey-500;
            }
        }
    }
}