/* Footer */ 
footer {
    background-color: $black-100;
    padding: 20px 0 50px;
    position: relative;
    @include media-breakpoint-down(sm) {
        padding: 30px 0 50px;
    }
    a {
        @extend %hover-text;
    }
    .footer-row {
        align-items: center;
    }
    .logo {
        width: 249px;
        @include media-breakpoint-down(lg) {
            margin: 0 auto 30px;
            display: block;
        }
        @include media-breakpoint-down(sm) {
            width: 180px;
        }
    }
    .company-block {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        p {
            @extend %font-size-16;
            color: $grey-400;
            margin: 0;
            @include media-breakpoint-down(lg) {
                order: 2;
            }
            @include media-breakpoint-down(sm) {
                @include font-size(12px);
                width: 100%;
                text-align: center;
            }
        }
    }
    .phone-list, .copyright-list {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        li {
            @extend %font-size-16;
            padding: 0 15px;
            border-right: 1px solid;
            @include media-breakpoint-down(sm) {
                @include font-size(14px);
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
                border-right: none;
            }
        }
    }
    .phone-list {
        @include media-breakpoint-down(xs) {
            max-width: 305px;
            justify-content: center;
        }
        li, a {
            color: $grey-400;
        }
        li {
            @include media-breakpoint-down(xs) {
                margin-bottom: 10px;
            }
            &:last-child {
                @include media-breakpoint-down(xs) {
                    margin-bottom: 0;
                }
            }
            &:nth-child(2) {
                @include media-breakpoint-down(xs) {
                    border-right: none;
                }
            }
        }
    }
    .copyright-list {
        width: 100%;
        margin: 16px 0;
        justify-content: center;
        @include media-breakpoint-down(lg) {
            margin: 40px 0;
        }
        @include media-breakpoint-down(sm) {
            margin: 40px 0 15px;
        }
        li, a {
            color: $grey-500;
        }
        li {
            @include media-breakpoint-down(xs) {
                padding: 0 10px;
            }
        }
    }
    .social-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        list-style-type: none;
        @include media-breakpoint-down(lg) {
            justify-content: center;
            margin-top: 40px;
        }
        li {
            margin-right: 12px;
            a {
                width: 28px;
                height: 28px;
                background-color: $grey-800;
                border-radius: 50%;
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: center;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .top-tier {
        padding-bottom: 10px;
        .col-social {
            @include media-breakpoint-up(xl) {
                flex: 0 0 19%;
                max-width: 19%;
            }
            @include media-breakpoint-down(md) {
                margin-bottom: 40px;
            }
        }
        .col-content {
            @include media-breakpoint-up(lg) {
                padding-left: 25px;
            }
        }
        p {
            @extend %font-size-16;
            line-height: 22px;
            color: $white;
            @include media-breakpoint-down(sm) {
                @include font-size(14px);
            }
            a {
                color: $blue-200;
                font-weight: $font-weight-semibold;
            }
        }
    }
}