/* Navigation */ 
header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}
.navbar {
    padding: 0;
    align-items: flex-start;
    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        background: url("../images/pattern/logo-pattern.svg") no-repeat center/contain;
        width: 433px;
        height: 197px;
    }
    .navbar-brand {
        padding: 0;
        margin: 27px 0 0 70px;
        z-index: 0;
    }
    .navbar-collapse {
        justify-content: flex-end;
        margin-right: 110px;
    }
    .navbar-nav {
        margin-top: 20px;
        .nav-item {
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
        }
        .nav-link {
            color: $black-200;
            &:hover {
                font-weight: $font-weight-semibold;
            }
        }
    }
}

