/* Navigation */ 
header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    &.header-open {
        background-color: $white;
    }
}
.navbar {
    padding: 0;
    align-items: flex-start;
    background-color: transparent;
    transition: all .2s;
    @include media-breakpoint-down(lg) {
        padding: 0 30px;
    }
    @include media-breakpoint-down(md) {
        padding: 15px 30px;
        align-items: center;
        min-height: 74px;
    }
    @include media-breakpoint-down(sm) {
        padding: 15px;
    }
    &.sticky-header {
        background-color: $black-400;
        filter: drop-shadow(0 6px 14px rgba($black, 0.24));
        &:before {
            display: none;
        }
        .navbar-nav {
            .nav-link {
                color: $white-300;
                @include media-breakpoint-down(md) {
                    color: $color-primary;
                }
                &:hover {
                    text-shadow: 0 0 .65px $white-300, 0 0 .65px $white-300;
                    @include media-breakpoint-down(md) {
                        text-shadow: 0 0 .65px $black-200, 0 0 .65px $black-200;
                    }
                }
            }
        }
        .navbar-brand {
            @include media-breakpoint-up(lg) {
                margin-top: 10px;
            }
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -5px;
            background: linear-gradient(90deg, $orange-300 0%, $orange-200 100%);
            width: 100%;
            height: 5px;
        }
        .navbar-toggler {
            filter: invert(98%) sepia(3%) saturate(23%) hue-rotate(228deg) brightness(114%) contrast(89%);
        }
    }
    &:before {
        content: "";
        position: absolute;
        top: -30px;
        left: 0;
        background: url("../images/pattern/logo-pattern.svg") no-repeat center/contain;
        width: 433px;
        height: 197px;
        transition: all .3s;
        @include media-breakpoint-down(lg) {
            width: 400px;
            height: 184px;
            top: -40px;
            left: -1px;
        }
        @include media-breakpoint-down(md) {
            width: 335px;
            height: 155px;
            top: -40px;
            z-index: 1;
        }
        @include media-breakpoint-down(sm) {
            width: 251px;
            height: 115px;
            top: -10px;
        }
    }
    .navbar-brand {
        width: 155px;
        padding: 0;
        margin: 30px 0 10px 30px;
        z-index: 1;
        @include media-breakpoint-down(lg) {
            margin: 20px 0 10px;
            width: 135px;
        }
        @include media-breakpoint-down(md) {
            margin: 0;
            width: 105px;
        }
        @include media-breakpoint-down(sm) {
            width: 97px;
        }
        img {
            width: 100%;
        }
    }
    .navbar-collapse {
        justify-content: flex-end;
        margin-right: 110px;
        @include media-breakpoint-only(xl) {
            margin-right: 50px;
        }
        @include media-breakpoint-down(lg) {
            margin-right: 0;
        }
        @include media-breakpoint-down(md) {
            position: absolute;
            height: 85vh;
            width: 100%;
            left: 0;
            top: 0;
            margin-top: 74px;
            background-color: $white;
            transition: all .05s;
        }
        @include media-breakpoint-down(xs) {
            height: 100vh
        }
    }
    .navbar-nav {
        margin-top: 20px;
        @include media-breakpoint-down(md) {
            margin-top: 0;
            padding: 70px 50px 0;
            height: 100%;
            overflow-y: auto;
        }
        @include media-breakpoint-down(sm) {
            padding: 50px 40px 0;
        }
        .nav-item {
            margin-right: 25px;
            @include media-breakpoint-down(md) {
                margin-right: 0;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 15px;
            }
            &:last-child {
                margin-right: 0;
                @include media-breakpoint-down(sm) {
                    margin-bottom: 0;
                }
            }
        }
        .nav-item-social {
            display: none;
            margin-top: 90px;
            padding-bottom: 20px;
            @include media-breakpoint-down(md) {
                display: block;
            }
            p {
                @include font-size(14px);
                color: $grey-200;
            }
            .social-list {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                list-style-type: none;
                li {
                    margin-right: 12px;
                    a {
                        width: 32px;
                        height: 32px;
                        background-color: transparent;
                        border: 1px solid $black-400;
                        border-radius: 50%;
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        justify-content: center;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .nav-link {
            color: $black-200;
            @include media-breakpoint-down(md) {
                @include font-size(22px);
                color: $color-primary;
            }
            &:hover {
                text-shadow: 0 0 .65px $black-200, 0 0 .65px $black-200;
            }
        }
    }
    .navbar-toggler {
        border: none;
        padding: 0;
        z-index: 10;
        align-self: center;
        &.collapsed {
            background: url("../images/icons/menu-hamburger.svg") no-repeat center/cover;
            width: 26px;
            height: 18px;
        }
        &:not(.collapsed) {
            background: url("../images/icons/menu-close.svg") no-repeat center/cover;
            width: 44px;
            height: 44px;
            // transition: all .5s;
        }
        // &.collapsed {
        //     transform: rotate(0);
        //     transform-origin: 0;
        //     opacity: 1;
        //     .icon-bar {
        //         transform: rotate(0);
        //         transform-origin: 0;
        //         opacity: 1;
        //     }
        // }
        // &:not(.collapsed) {
        //     .top-bar, .bottom-bar {
        //         width: 25px;
        //     }
        // }
        // .icon-bar {
        //     background: $color-primary;
        //     display: block;
        //     width: 25px;
        //     height: 4px;
        //     transition: all 0.2s;
        //     border-radius: 30px;
        //     + .icon-bar {
        //         margin-top: 4px;
        //     }
        // }
        // .top-bar {
        //     transform: rotate(45deg);
        //     transform-origin: 4px 8px;
        //     width: 18px;
        //     margin-left: auto;
        // }
        // .middle-bar {
        //     opacity: 0;
        // }
        // .bottom-bar {
        //     transform: rotate(-45deg);
        //     transform-origin: 3px -3px;
        //     width: 18px;
        //     margin-left: auto;
        // }
    }
}

