/* Two Columns Grid */
.two-column-full-grid {
    margin-top: 60px;
    max-width: 100%;
    @include media-breakpoint-down(sm) {
        margin-top: 30px;
    }
    .row {
        margin-bottom: 40px;
        align-items: center;
        position: relative;
        @include media-breakpoint-down(md) {
            margin-bottom: 60px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .col-text {
            z-index: 1;
            @include media-breakpoint-down(md) {
                margin-top: 25px;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 30px;
            }
            .content {
                max-width: 565px;
                @include media-breakpoint-down(lg) {
                    max-width: 100%;
                }
            }
            h4 {
                @include media-breakpoint-down(sm) {
                    margin-bottom: 20px;
                }
            }
            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .col-image {
            position: relative;
            &:before {
                content: "";
                position: absolute;
            }
            img {
                max-width: 100%;
                min-height: 499px;
                object-fit: cover;
                position: relative;
                transition: all .5s;
                z-index: 1;
                @include media-breakpoint-up(xxl) {
                    min-height: 560px;
                }
                @include media-breakpoint-down(lg) {
                    min-height: 440px;
                    border-radius: 160px;
                    object-position: 80% center;
                }
                @include media-breakpoint-down(md) {
                    max-width: 90%;
                    border-radius: 230px;
                    display: block;
                }
                @include media-breakpoint-down(sm) {
                    min-height: 225px;
                }
            }
        }
    }
    .row-text {
        .two-column-gradient-right {
            background: url("../images/pattern/radial-yellow.png") no-repeat center/contain;
            width: 598px;
            min-height: 1700px;
            position: absolute;
            top: calc(-100% - 100px);
            right: 0;
            @include media-breakpoint-down(lg) {
                height: 1210px;
                min-height: auto;
                background-size: cover;
            }
            @include media-breakpoint-down(sm) {
                top: -300px;
                width: 250px;
                height: 500px;
            }
        }
        .col-text {
            padding-right: 30px;
            @include media-breakpoint-down(lg) {
                padding-left: 50px;
            }
            @include media-breakpoint-down(md) {
                order: 1;
            }
            @include media-breakpoint-down(sm) {
                padding-left: 30px;
            }
            .content {
                margin-left: auto;
            }
        }
        .col-image {
            padding-left: 30px;
            img {
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                margin-left: auto;
                display: block;
            }
        }
    }
    .row-image {
        .two-column-gradient-left {
            background: url("../images/pattern/radial-blue.png") no-repeat center/contain;
            width: 802px;
            min-height: 1500px;
            position: absolute;
            top: 0;
            left: 0;
            @include media-breakpoint-down(lg) {
                height: 1063px;
                min-height: auto;
                background-size: cover;
            }
            @include media-breakpoint-down(sm) {
                width: 455px;
                height: 580px;
                top: 90px;      
            }
            @include media-breakpoint-down(xs) {
                width: 300px;
                height: 425px;
            }
        }
        .col-text {
            padding-left: 30px;
            @include media-breakpoint-down(lg) {
                padding-right: 50px;
            }
            @include media-breakpoint-down(sm) {
                padding-right: 20px;
            }
            .content {
                margin-right: auto;
            }
        }
        .col-image {
            padding-right: 30px;
            img {
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
            }
        }
    }
} 
/* Two column within container */
.two-column-image-text {
    .col-image {
        &:hover {
            .gradient-movement {
                opacity: 1;
            }
        }
        .image {
            display: block;
            margin: 0 auto;
            position: relative;
        }
    }
    .col-content {
        h2 {
            margin-bottom: 20px;
        }
    }
} 