/* Banner */ 
.section-banner {
    padding: 0;
    .banner-row {
        align-items: center;
        position: relative;
        .banner-gradient {
            background: url("../images/pattern/radial-color.png") no-repeat center/contain;
            width: 1216px;
            min-height: 1200px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
            @include media-breakpoint-down(lg) {
                width: 100%;
                height: 100%;
                min-height: auto;
                background-size: cover;
            }
        }
        .banner-gradient-teal {
            background: url("../images/pattern/radial-teal.png") no-repeat center/contain;
            width: 453px;
            min-height: 453px;
            position: absolute;
            bottom: -150px;
            left: 120px;
            z-index: 1;
            @include media-breakpoint-down(lg) {
                min-height: auto;
                height: 453px;
                background-size: cover;
                left: 0;
                right: 0;
                margin: auto;
            }
            @include media-breakpoint-down(sm) {
                height: 253px;
                width: 253px;
                bottom: -70px;
            }
            @include media-breakpoint-down(xs) {  
                height: 190px;
                width: 190px;
                bottom: -60px;
            }
        }
    }
    .banner-bg-block {
        position: relative;
        z-index: 1;
        &.no-animation {
            img {
                border-radius: 0 !important;
                @include media-breakpoint-down(lg) {
                    object-position: center 90%;
                }
                @include media-breakpoint-down(md) {
                    object-position: center 100%;
                }
            }
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-width: 900px;
            min-height: 795px;
            border-radius: 0 150px 150px 0;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            @include media-breakpoint-down(lg) {
                max-width: 100%;
                max-height: 700px;
                min-height: auto;
                border-radius: 0 0 340px 340px !important;
            }
            @include media-breakpoint-down(md) {
                max-height: 590px;
            }
            @include media-breakpoint-down(sm) {
                max-height: 450px;
                border-radius: 0 0 250px 250px !important;
            }
            @include media-breakpoint-down(xs) {
                max-height: 290px;
                border-radius: 0 0 155px 155px !important;
            }
        }
    }
    .banner-product {
        position: absolute;
        top: -20px;
        left: -57%;
        transform: translateX(50%);
        z-index: 1;
        @include media-breakpoint-up(xxl) {
            transform: translateX(80%);
        }
        @include media-breakpoint-down(lg) {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            max-width: 470px;
            max-height: 534px;
            margin: 0 auto;
        }
        @include media-breakpoint-down(md) {
            max-height: 402px;
        }
        @include media-breakpoint-down(sm) {
            max-width: 300px;
        }
        @include media-breakpoint-down(xs) {
            max-width: 270px;
            max-height: 255px;
        }
        img {
            @include media-breakpoint-down(lg) {
                max-width: fit-content;
                max-height: inherit;
                display: block;
                margin: 0 auto;
            }
        }
    }
    .banner-content {
        max-width: 415px;
        margin-left: 170px;
        @include media-breakpoint-up(xxl) {
            margin-left: 245px;
        }
        @include media-breakpoint-down(lg) {
            max-width: 75%;
            margin: 0 auto;
            text-align: center;
        }
        @include media-breakpoint-down(sm) {
            max-width: 100%;
            padding: 0 20px;
            margin-bottom: 25px;
        }
        .hastag {
            @extend %font-size-24;
            font-weight: $font-weight-bold;
            @include media-breakpoint-down(sm) {
                margin-bottom: 10px;
            }
        }
    }
    .col-banner-product-content {
        @include media-breakpoint-down(lg) {
            margin-top: -150px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: -80px;
        }
    }
    /* Type 2 */
    &.section-banner-type-2 {
        padding-bottom: 200px;
        @include media-breakpoint-down(lg) {
            padding-bottom: 70px;
        }
        @include media-breakpoint-down(md) {
            padding-bottom: 0;
        }
        .banner-bg-block {
            img {
                @include media-breakpoint-up(xl) {
                    min-height: 750px;
                }
            }
        }
        .banner-content {
            @include media-breakpoint-up(xl) {
                max-width: 505px;
                margin-left: 50px;
            }
        }
        .banner-product {
            @include media-breakpoint-up(xl) {
                top: auto;
                bottom: -72%;
                left: -95%;
                transform: translateX(50%);
            }
            @include media-breakpoint-up(xxl) {
                bottom: -90%;
                left: -80%;
            }
        }
    } 
} 