/* Call-to callout */
.section-call-to {
    background-color: $black-400;
    position: relative;
    @include media-breakpoint-down(sm) {
        padding: 35px 0 40px;
    }
    .row {
        align-items: center;
    }
    .col-content {
        h4 {
            color: $white;
            margin-bottom: 0;
            @include media-breakpoint-down(sm) {
                @include font-size(30px);
            }
        }
    }
    .col-icons {
        display: flex;
        flex-flow: row wrap;
        @include media-breakpoint-down(lg) {
            margin-top: 35px;
        }
        p {
            color: $white;
            @include media-breakpoint-down(sm) {
                @include font-size(20px);
            }
            a {
                color: $white;
                @extend %hover-text;
            }
        }
    }
    .media-icons {
        margin-bottom: 0;
        padding: 0 30px;
        @include media-breakpoint-down(lg) {
            width: 33.3%;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            padding: 25px 0;
        }
        &:before {
            display: none;
        }
        &:after {
            content: "";
            position: absolute;
            top: 20px;
            right: 0;
            width: 1px;
            height: 60px;
            background-color: $grey-200;
            @include media-breakpoint-down(sm) {
                top: auto;
                bottom: 0;
                left: 0;
                right: auto;
                width: 62px;
                height: 1px;
            }
        }
        &:first-child {
            padding-left: 0;
            @include media-breakpoint-down(sm) {
                padding-top: 0;
            }
        }
        &:last-child {
            padding-right: 0;
            @include media-breakpoint-down(sm) {
                padding-bottom: 0;
            }
            &:after {
                display: none;
            }
        }
        > img {
            margin-bottom: 10px;
        }
    }
} 
/* Neightbourhood callout */ 
.row-neighbourhood {
    margin-top: 75px;
    margin-bottom: 60px;
    @include media-breakpoint-down(sm) {
        margin-top: 45px;
        margin-bottom: 45px;
    }
    > div {
        .media {
            @include media-breakpoint-down(md) {
                margin-bottom: 50px;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 65px;
                align-items: center;
            }
        }
        &:last-child {
            .media {
                margin-bottom: 0;
            }
        }
    }
    .media {
        padding: 0;
        margin: 0;
        &:before {
            display: none;
        }
        .media-image {
            margin: 0 20px 0 0;
        }
        .media-body {
            p {
                color: $grey-600;
                font-weight: $font-weight-semibold;
                @include media-breakpoint-down(sm) {
                    @include font-size(18px);
                }
                > span {
                    @extend %font-size-54;
                    color: $black-300;
                    font-weight: $font-weight-bold;
                    display: block;
                    margin-top: -6px;
                }
            }
        }
    }
}
/* explore product range callout */
.section-explore-other-product-range {
    padding: 40px 0 50px;
    background-color: $black-400;
    border-bottom: 1px solid $grey-300;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(xs) {
        padding: 40px 0 25px;
    }
    h4 {
        color: $white;
        text-align: center;
    }
} 
.row-product-range {
    margin-top: 30px;
    @include media-breakpoint-down(xs) {
        margin-top: 20px;
    }
    > div {
        margin: 15px 0;
        &:nth-child(6n) {
            .media:after {
                display: none;
            }
        }
        &:nth-child(3n) {
            .media:after {
                @include media-breakpoint-between(sm, md) {
                    display: none;
                }
            }
        }
        &:nth-child(2n) {
            .media:after {
                @include media-breakpoint-down(xs) {
                    display: none;
                }
            }
        }
        &:last-child {
            .media:after {
                display: none;
            }
        }
    }
    .media {
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100%;
        &:after {
            content: "";
            position: absolute;
            right: -15px;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: $grey-200;
            width: 1px;
            height: 48px;
        }
        a {
            &:hover {
                p {
                    opacity: 0.7;
                }
            }
        }
        img {
            display: block;
            margin: 0 auto 2px;
            height: 72px;
            @include media-breakpoint-down(xs) {
                height: 64px;
            }
        }
        .media-body {
            width: 100%;
            padding: 0 10px;
            p {
                @extend %font-size-16;
                line-height: 24px;
                color: $white;
                text-align: center;
                margin-bottom: 0;
                transition: all .3s;
                @include media-breakpoint-down(sm) {
                    @include font-size(14px);
                }
            }
        }
    }
}