/* Video carousel */
.owl-carousel-full {
    width: 125%;
    @include media-breakpoint-up(xxl) {
        width: 135%;
    }
    @include media-breakpoint-down(sm) {
        width: 115%;
    }
    .owl-dots {
        width: 80%;
        @include media-breakpoint-up(xxl) {
            width: 70%;
        }
        @include media-breakpoint-down(sm) {
            width: 90%;
        }
    }
}
.video-owl-carousel {
    margin-top: 55px;
    @include media-breakpoint-down(sm) {
        margin-top: 35px;
    }
    .video-item {
        width: 392px;
        position: relative;
        @include media-breakpoint-down(sm) {
            width: 305px;
        }
        img {
            width: 100%;
            position: relative;
            transition: all .6s;
        }
        a {
            position: relative;
            border-radius: 12px;
            overflow: hidden;
            display: block;
            &:hover {
                img {
                    transform: scale(1.15);
                }
            }
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(179.62deg, rgba($black, 0) -54.04%, rgba($black, 0.5) 171.54%);
                z-index: 1;
            }
        }
    }
    .video-icon {
        a {
            &:after {
                content: "";
                position: absolute;
                @extend %center-aligned;
                width: 48px;
                height: 48px;
                background: url("../images/icons/play.svg") no-repeat center/cover;
                z-index: 2;
                @include media-breakpoint-down(sm) {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }
    .owl-dots {
        margin-top: 40px !important;
        @include media-breakpoint-down(sm) {
            margin-top: 30px !important;
        }
        .owl-dot {
            span {
                background-color: rgba($color-primary, 0.5);
                margin: 0 5px;
                transition: all .3s;
            }
            &.active {
                span {
                    background-color: rgba($color-primary, 1);
                    width: 37px;
                }
            }
        }
    }
} 
/* More Feature Carousel */
.more-features-carousel {
    max-width: 910px;
    padding: 0 90px 0 75px;
    margin: 0 25px;
    @include media-breakpoint-down(lg) {
        max-width: 88%;
        margin: 0 0 0 100px;
    }
    @include media-breakpoint-down(sm) {
        max-width: 100%;
        margin: 0;
        padding: 0 30px 0 60px;
    }
    @include media-breakpoint-down(xs) {
        padding: 0 30px 0 45px;
    }
    .media-horizontal {
        margin-bottom: 0;
        padding: 18px 0 18px 18px;
        @include media-breakpoint-down(xs) {
            padding: 10px 0 0 10px;
        }
        .media-image {
            @include media-breakpoint-down(xs) {
                width: 41px;
                height: 41px;
            }
            img {
                max-width: 40px;
                max-height: 40px;
                @include media-breakpoint-down(xs) {
                    max-width: 20px;
                    max-height: 20px;
                }
            }
        }
        .media-body {
            max-width: 260px;
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
            @include media-breakpoint-down(xs) {
                margin-left: 10px;
            }
            &:before {
                @include media-breakpoint-down(xs) {
                    width: 32px;
                    height: 2px;
                }
            }
        }
        p {
            @extend %font-size-16;
            line-height: 20px;
            font-weight: $font-weight-regular;
            @include media-breakpoint-down(sm) {
                @include font-size(14px);
            }
        }
    } 
    .owl-nav {
        margin: 0;
        .disabled {
            pointer-events: none;
        }
        button {
            &.owl-prev, &.owl-next {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto !important;
                width: 52px;
                height: 52px;
                background: $white;
                border: 2px solid $black-400;
                border-radius: 50% !important;
                margin: 0;
                transition: all .3s;
                @include media-breakpoint-down(sm) {
                    width: 24px;
                    height: 24px;
                }
                &:hover {
                    background-color: $black-400;
                    img {
                        filter: invert(100%) sepia(0%) saturate(1479%) hue-rotate(180deg) brightness(117%) contrast(100%);
                    }
                }
                img {
                    @include media-breakpoint-down(sm) {
                        width: 9px;
                    }
                }
            }
            &.owl-prev {
                left: 0;
                @include media-breakpoint-down(sm) {
                    left: 20px;
                }
                img {
                    transform: rotate(90deg) translate(-10%, 25%);
                    @include media-breakpoint-down(sm) {
                        transform: rotate(90deg) translate(-30%, 25%);
                    }
                }
            }
            &.owl-next {
                right: 0;
                img {
                    transform: rotate(-90deg) translate(17%, 20%);
                    @include media-breakpoint-down(sm) {
                        transform: rotate(-90deg) translate(30%, 20%);
                    }
                }
            } 
        }

    }
} 