/* Section Locator */
.section-locator {
    position: relative;
    padding-bottom: 100px;
    @include media-breakpoint-down(sm) {
        padding-bottom: 50px;
    }
    &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -550px;
        background: url("../images/pattern/radial-yellow-2.png") no-repeat center/cover;
        width: 1102px;
        height: 1067px;
        z-index: 0;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    .container {
        position: relative;
        z-index: 1;
    }
} 
.locator-filter {
    display: flex;
    flex-flow: row wrap;
    @include media-breakpoint-down(lg) {
        justify-content: center;
    }
    .form-group {
        margin: 0 0 0 18px;
        @include media-breakpoint-down(lg) {
            margin: 0 0 0 12px;
        }
        @include media-breakpoint-down(sm) {
            margin: 20px 0 0;
        }
        &:first-child, &:last-child {
            margin-left: 0;
            @include media-breakpoint-down(sm) {
                margin-top: 0;
            }
        }
    }
    .form-group-select {
        width: 289px;
        @include media-breakpoint-down(lg) {
            width: 32.3%;
        }
        @include media-breakpoint-down(md) {
            width: 32%;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
    .form-group-input {
        width: 207px;
        @include media-breakpoint-down(lg) {
            width: 32.3%;
        }
        @include media-breakpoint-down(md) {
            width: 32%;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
    .form-group-text {
        margin: 0 10px;
        @include media-breakpoint-down(lg) {
            margin: 10px 0;
            width: 100%;
        }
        @include media-breakpoint-down(sm) {
            margin: 20px 0;
        }
        p {
            @extend %font-size-16;
            color: $grey-600;
            margin: 0;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            @include media-breakpoint-down(lg) {
                justify-content: center;
            }
            span {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 2px;
                @include media-breakpoint-down(sm) {
                    margin: 0 6px;
                }
            }
        }
    }
    .form-group-button {
        margin: 40px auto 0;
        display: block;
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
        @include media-breakpoint-down(sm) {
            margin: 30px auto 0;
        }
        button {
            width: 192px;
            margin: 0 auto;
            display: block;
            @include media-breakpoint-down(sm) {
                width: 135px;
            }
        }
    }
    .custom-select {
        margin-bottom: 0;
    }
}
.locator-results {
    margin: 45px auto 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    @include media-breakpoint-down(sm) {
        margin: 50px auto 0;
    }
}
.locator-item {
    width: 33.3%;
    padding: 20px 40px 0 30px;
    margin-bottom: 55px;
    position: relative;
    @include media-breakpoint-down(md) {
        width: 50%;
    }
    @include media-breakpoint-down(sm) {
        width: 100%;
        padding: 15px 0 0 20px;
        margin-bottom: 50px;
    }
    &.locator-mobile-hide {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 110px;
        background-color: $orange-400;
    }
    p {
        margin: 0;
        a {
            color: $black;
            word-break: break-word;
            @extend %hover-text;
        }
    }
    .locator-name {
        @extend %font-size-22;
        color: $black;
        font-weight: $font-weight-bold;
        margin-bottom: 12px;
        @include media-breakpoint-down(sm) {
            @include font-size(18px);
        }
    }
    .locator-details {
        @extend %font-size-18;
        line-height: 28px;
        color: $black;
    }
    .locator-map {
        @extend %font-size-18;
        color: $blue-300;
        text-decoration: underline;
        margin-top: 10px;
        display: inline-block;
        @extend %hover-text;
        @include media-breakpoint-down(sm) {
            margin-top: 2px;
        }
    }
}