/* Modals */
.modal-backdrop.show {
    opacity: 0.8;
}
.modal {
    padding: 0;
    .modal-xl {
        max-width: 1155px;
        @include media-breakpoint-down(lg) {
            max-width: 90%;
        }
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
        @include media-breakpoint-down(xs) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .modal-lg {
        max-width: 772px;
        @include media-breakpoint-down(md) {
            max-width: 90%;
        }
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
        @include media-breakpoint-down(xs) {
            margin-left: 0;
            margin-right: 0;
        }
        .modal-content {
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 20px;
            @include media-breakpoint-down(sm) {
                border-radius: 0;
            }
        }
        .modal-header {
            .close {
                right: 0;
            }
        }
    }
    .modal-content {
        border-radius: 8px;
        padding: 30px 60px 35px;
        border: none;
        @include media-breakpoint-down(md) {
            padding: 30px 20px 35px;
        }
        @include media-breakpoint-down(sm) {
            border-radius: 0;
            padding: 80px 20px 45px;
        }
    }
    .modal-header {
        border: none;
        border-radius: 0;
        justify-content: center;
        position: relative;
        padding: 0 0 15px;
        @include media-breakpoint-down(sm) {
            padding: 0 0 35px;
        }
        h4 {
            @extend %font-size-40;
            text-align: center;
            z-index: 2;
        }
        .close {
            position: absolute;
            top: 10px;
            right: -20px;
            background: url("../images/icons/close.svg") no-repeat center/cover;
            width: 22px;
            height: 22px;
            padding: 0;
            margin: 0;
            opacity: 1 !important;
            transition: all .3s;
            z-index: 2;
            @include media-breakpoint-down(md) {
                right: 0;
            }
            @include media-breakpoint-down(sm) {
                width: 18px;
                height: 18px;
                top: -50px;
            }
            &:hover {
                opacity: 0.7 !important;
            }
        }
    }
    .modal-body {
        padding: 0;
        .row-form {
            max-width: 850px;
            @include media-breakpoint-up(lg) {
                margin-left: auto;
                margin-right: auto;
            }
            .form-group {
                @include media-breakpoint-down(sm) {
                    margin-bottom: 25px;
                }
            }
            .btn-primary {
                display: block;
                width: 192px;
                margin: 0 auto;
                @include media-breakpoint-down(sm) {
                    margin: 20px auto 0;
                }
            }
        }
    }
} 
.modal-form {
    .modal-header {
        h4 {
            max-width: 520px;
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
        }
    }
}
.quick-guide-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding-top: 45px;
    @include media-breakpoint-down(sm) {
        padding-top: 20px;
    }
    @include media-breakpoint-down(xs) {
        padding-top: 0;
    }
    .block-row, .block-row-header {
        display: flex;
        align-items: center;
    }
    .block-row {
        height: 76px;
        margin-bottom: 4px;
        @include media-breakpoint-down(sm) {
            height: 66px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .block-col {
        @extend %font-size-16;
        color: $color-primary;
    }
    .block-left {
        width: 160px;
        @include media-breakpoint-down(xs) {
            width: 145px;
        }
        .block-col {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            .image {
                width: 32px;
                img {
                    max-width: 32px;
                    display: block;
                    margin: 0 auto;
                }
            }
            p {
                @extend %font-size-16;
                color: $black;
                font-weight: $font-weight-semibold;
                margin: 0 0 0 20px;
                @include media-breakpoint-down(xs) {
                    margin: 0 0 0 15px;
                }
            }
        }
    }
    .block-right {
        flex: 1;
        @include media-breakpoint-down(lg) {
            width: 75%;
            overflow: auto;
        }
        .block-right-overflow {
            @include media-breakpoint-down(lg) {
                width: 850px;
            }
        }
        .block-row {
            flex-flow: row nowrap;
            &:nth-of-type(2n) {
                background-color: $blue-400;
            }
            &:nth-of-type(2n-1) {
                background-color: $blue-500;
            }
        }
        .block-col {
            width: 20%;
            padding: 0 20px 0 40px;
            @include media-breakpoint-down(sm) {
                padding: 0 10px 0 25px;
            }
        }
    }
    .block-row-header {
        height: auto;
        .block-col {
            @extend %font-size-only-18;
            font-weight: $font-weight-semibold;
            padding-bottom: 15px;
        }
    }
}
.modal-multiproduct-form {
    .row-single {
        .single-product {
            margin: 35px 0 0;
            min-height: 405px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            @include media-breakpoint-down(md) {
                margin: 0;
            }
            @include media-breakpoint-down(sm) {
                min-height: 375px;
            }
            &:before {
                width: 420px;
                height: 421px;
                @include media-breakpoint-down(lg) {
                    width: 330px;
                    height: 331px;
                }
                @include media-breakpoint-down(md) {
                    left: 0;
                    right: 0;
                    top: 30px;
                    margin: auto;
                }
            }
            .product {
                max-width: 336px;
                max-height: 404px;
                @include media-breakpoint-down(sm) {
                    max-width: 280px;
                }
            }
            .product-gradient {
                opacity: 1;
                width: 100%;
                left: 0;
                top: -50px;
                @include media-breakpoint-down(lg) {
                    top: 0;
                }
                @include media-breakpoint-down(md) {
                    top: -145px;
                }
                @include media-breakpoint-down(xs) {
                    top: 0;
                }
            }
        }
        .single-product-details {
            @include media-breakpoint-down(sm) {
                max-width: 350px;
            }
            .media-body {
                p {
                    text-align: left;
                    @include media-breakpoint-down(sm) {
                        text-align: center;
                    }
                }
            }
        }
        .product-price {
            top: 60px;
            @include media-breakpoint-down(md) {
                top: 155px;
            }
            @include media-breakpoint-down(sm) {
                top: 140px;
                left: 130px;
            }
            @include media-breakpoint-down(xs) {
                left: 0;
            }
        }
        .product-price-type-2 {
            @extend .product-price;
            top: -25px !important;
            left: -60px !important;
            border-radius: 0 36px 36px 0 !important;
            padding: 2px 30px 2px 22px !important;
            @include media-breakpoint-down(md) {
                top: 30px !important;
                left: -20px !important;
            }
            p {
                @include font-size(16px, true);
            }
        }
        .download-link {
            color: $orange-500;
            @extend %font-size-16;
            display: table;
            margin: 30px auto 0;
            position: relative;
            z-index: 3;
            @extend %hover-text;
        }
        .col-content {
            h3 {
                @extend %font-size-40;
                max-width: 460px;
                @include media-breakpoint-down(sm) {
                    @include font-size(22px);
                }
            }
        }
        .media {
            @include media-breakpoint-only(lg) {
                margin-bottom: 30px;
            }
        }
    }
    .modal-header {
        @include media-breakpoint-down(sm) {
            padding: 0 0 10px;
        }
    }
    .modal-footer {
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-top: 35px;
        padding: 20px 0 10px;
        border-color: $grey-900;
        @include media-breakpoint-down(xs) {
            margin-top: 40px;
            padding: 30px 0 10px;
        }
        button {
            margin: 0;
            @extend %font-size-only-18;
            color: $color-primary;
            width: 48%;
            text-align: left;
            background-color: transparent;
            border: none;
            outline: none;
            transition: all .3s;
            @extend %hover-text;
            &:nth-child(2) {
                text-align: right;
            }
            span {
                color: $orange-400;
                font-weight: $font-weight-semibold;
            }
        }
    }
}
.modal-thank-you {
    .modal-header {
        @include media-breakpoint-down(sm) {
            padding: 0 0 15px;
        }
    }
}
#modal-thank-you {
    .thank-you-block {
        .product-block {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            max-width: fit-content;
            height: 216px;
            .product-image {
                max-width: 250px;
                max-height: 216px;
            }
        }
    }
}
.modal-video {
    .modal-xl {
        @include media-breakpoint-down(sm) {
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .modal-content {
        padding: 0;
        background-color: transparent;
    }
    .modal-header {
        padding: 0 0 15px;
        .close {
            filter: invert(98%) sepia(96%) saturate(0%) hue-rotate(309deg) brightness(112%) contrast(101%);
            right: 0;
            top: 0;
        }
    }
    .video-block {
        margin-top: 35px;
        iframe {
            width: 100%;
            height: 530px;
            @include media-breakpoint-down(lg) {
                height: 480px;
            }
            @include media-breakpoint-down(md) {
                height: 390px;
            }
            @include media-breakpoint-down(xs) {
                height: 210px;
            }
        }
    }
}