/* Tabs */
.tabs-grid {
    margin: 40px 0 35px;
    position: relative;
    z-index: 4;
    @include media-breakpoint-down(sm) {
        margin: 30px 0 40px;
    }
    .select-dropdown-active {
        display: none;
        cursor: pointer;
        @extend %font-size-only-18;
        color: $white;
        background-color: $blue-dark;
        border-radius: 150px;
        height: 48px;
        padding: 15px 35px;
        position: relative;
        @include media-breakpoint-down(md) {
            display: block;
        }
        &:before {
            content: "";
            position: absolute;
            right: 30px;
            top: 20px;
            background: url("../images/icons/chevron-down-white.svg") no-repeat center/cover;
            width: 14px;
            height: 8px;
            transition: all .3s;
        }
        &.active {
            border-radius: 23px 23px 0 0;
            &:before {
                transform: rotate(-180deg);
            }
        }
        .select-dropdown-text {
            &:before {
                content: "";
                position: relative;
                top: -1px;
                margin-right: 10px;
                display: inline-block;
                width: 9px;
                height: 9px;
                background-color: $orange-200;
                border-radius: 50%;
            }
        }
    }
    .nav-pills {
        justify-content: center;
        position: relative;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 48px;
            width: 100%;
            z-index: 5;
            display: none;
            margin-bottom: 0;
            border-radius: 0 0 50px 50px;
        }
        &.nav-pills-active {
            @include media-breakpoint-down(md) {
                display: block;
            }
        }
        .slider {
            display: inline-block;
            width: 30px;
            height: 100%;
            border-radius: 150px;
            background-color: $blue-dark;
            position: absolute;
            bottom: 0;
            z-index: 0;
            transition: all .2s linear;
            @include media-breakpoint-down(md) {
                display: none !important;
            }
        }
        .nav-item {
            @include media-breakpoint-down(md) {
                background-color: $blue-dark;
            }
        }
        .nav-link {
            @include font-size(20px);
            color: $grey-100;
            font-weight: $font-weight-semibold;
            position: relative;
            padding: 12px 30px;
            transition: all .3s;
            @include media-breakpoint-down(lg) {
                @include font-size(18px);
                padding: 12px 12px;
            }
            @include media-breakpoint-down(md) {
                padding: 12px 35px;
                width: 100%;
                text-align: left;
            }
            &:hover {
                color: rgba($grey-100, 0.7);
            }
            &:before {
                content: "";
                position: relative;
                top: -2px;
                margin-right: 10px;
                display: inline-block;
                width: 9px;
                height: 9px;
                background-color: transparent;
                border-radius: 50%;
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
            &.active {
                color: $white !important;
                font-weight: $font-weight-bold;
                background-color: transparent;
                &:before {
                    background-color: $orange-200;
                    transition: all .4s;
                }
            }
        }
    }
    .tab-content {
        margin-top: 80px;
        @include media-breakpoint-down(sm) {
            margin-top: 50px;
        }
    }
    .row-single {
        .single-product {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                background: url("../images/pattern/radial-product.png") no-repeat center/cover;
                width: 110%;
                height: 110%;
                left: -60px;
                top: -60px;
                @include media-breakpoint-down(md) {
                    width: 580px;
                    height: 480px;
                    left: 0;
                    top: -36px;
                }
            }
            img {
                position: relative;
                z-index: 2;
                display: block;
                margin: 0 auto;
                @include media-breakpoint-down(lg) {
                    max-width: 350px;
                }
            }
        }
        .product-price {
            font-weight: $font-weight-semibold;
            background: linear-gradient(90deg, $orange-300, $orange-200 44%);
            display: inline-block;
            position: absolute;
            top: 230px;
            left: 25px;
            padding: 8px 22px;
            border-radius: 100px;
            z-index: 2;
            @include media-breakpoint-down(lg) {
                top: 180px;
            }
            @include media-breakpoint-down(md) {
                left: 130px;
            }
            @include media-breakpoint-down(sm) {
                left: 90px;
            }
            p {
                color: $white;
                margin-bottom: 0;
                @include media-breakpoint-down(sm) {
                    @include font-size(20px);
                    line-height: 28px;
                }
            }
        }
        .single-product-details {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: center;
            margin-top: 35px;
            @include media-breakpoint-down(sm) {
                justify-content: space-between;
                margin: 20px auto 0;
                max-width: 280px;
            }
            .media {
                margin-right: 50px;
                @include media-breakpoint-only(lg) {
                    margin-right: 25px;
                }
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                }
                &:last-child {
                    margin-right: 0;
                }
                img {
                    @include media-breakpoint-down(sm) {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
            .media-body {
                margin: -8px 0 0 12px;
                @include media-breakpoint-down(sm) {
                    margin: 8px 0 0;
                }
                p {
                    text-align: center;
                    margin-bottom: 0;
                    span {
                        @extend %font-size-18;
                        display: block;
                        @include media-breakpoint-down(sm) {
                            @include font-size(14px);
                            line-height: 1;
                        }
                    }
                }
            }
        }
        .col-content {
            @include media-breakpoint-down(md) {
                margin-top: 50px;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 40px;
            }
        }
        .btn-primary {
            @include media-breakpoint-down(sm) {
                width: 215px;
                display: block;
                margin: 0 auto;
            }
        }
    }
    .product-filter {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-down(sm) {
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .product-filter-block {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            @include media-breakpoint-down(sm) {
                flex: 1;
            }
        }
        p {
            @extend %font-size-18;
            font-weight: $font-weight-bold;
            margin: 0;
        }
        .custom-checkbox {
            margin-left: 35px;
            @include media-breakpoint-down(sm) {
                margin-left: 25px;
            }
        }
    }
    .row-multiple {
        margin: 40px 0 0;
        @include media-breakpoint-down(sm) {
            margin: 30px 0 0;
        }
        .col-mobile-hide {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
    .product-item {
        width: 352px;
        border: 1px solid $white-200;
        border-radius: 20px;
        margin: 0 auto 40px;
        transition: all .3s;
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
        @include media-breakpoint-down(sm) {
            margin: 0 auto 25px;
        }
        &:hover {
            background-color: $white;
            border: 1px solid rgba($white-200, 0.5);
            box-shadow: 0 4px 30px rgba($blue, 0.25);
            .item-tier-1, .item-tier-3 {
                border-color: transparent;
            }
        }
        .item-tier-1 {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            background-color: rgba($white, 0.5);
            padding: 15px 20px;
            border-bottom: 1px solid $white-200;
            border-radius: 20px 20px 0 0;
            p {
                margin: 0;
            }
        }
        .item-tier-2 {
            padding: 15px;
            img {
                max-width: 195px;
                max-height: 257px;
                display: block;
                margin: 0 auto;
            }
        }
        .item-tier-3 {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: center;
            background-color: $white;
            border-top: 1px solid $white-200;
            border-radius: 0 0 20px 20px;
            padding: 20px;
            @include media-breakpoint-down(sm) {
                padding: 20px 15px;
            }
            @include media-breakpoint-down(xs) {
                justify-content: space-between;
            }
            .media {
                padding: 0;
                margin: 0 25px;
                @include media-breakpoint-down(lg) {
                    margin: 0 12px;
                }
                @include media-breakpoint-down(sm) {
                    margin: 0 25px
                }
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                &:before {
                    display: none;
                }
                img {
                    max-height: 30px;
                    width: auto;
                    display: block;
                    margin: 0 auto;
                }
                .media-body {
                    margin-top: 10px;
                    p {
                        @extend %font-size-14;
                        text-align: center;
                        span {
                            @extend %font-size-16;
                            font-weight: $font-weight-bold;
                            display: block;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
        .product-name {
            @extend %font-size-only-18;
            font-weight: $font-weight-bold;
        }
        .product-price {
            @extend %font-size-16;
            color: $grey-200;
            font-weight: $font-weight-semibold;
        }
    }
} 