/* Air Coolers page */
.section-why-vguard {
    padding-top: 105px;
    @include media-breakpoint-down(sm) {
        padding-top: 45px;
    }
}
.section-why-vguard, .section-innovations {
    .row-media {
        > div {
            &:last-child, &:nth-last-child(2) {
                .media-icons {
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.section-innovations {
    position: relative;
    &:before {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}
.section-video {
    position: relative;
    z-index: 2;
    @include media-breakpoint-up(md) {
        padding-top: 70px;
    }
}
.quick-guide-text {
    @extend %font-size-16;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    z-index: 4;
    @include media-breakpoint-down(md) {
        line-height: 24px;
        text-align: left;
    }
    @include media-breakpoint-down(sm) {
        @include font-size(14px);
        line-height: 22px;
        margin-bottom: 0;
        align-items: flex-start;
    }
    a {
        color: $blue-100;
        font-weight: $font-weight-semibold;
        @extend %hover-text;
    }
    &:before {
        content: "";
        position: relative; 
        display: inline-block;
        background: url("../images/icons/guide.svg") no-repeat center/cover;
        width: 48px;
        height: 48px;
        margin-right: 15px;
        @include media-breakpoint-down(sm) {
            width: 36px;
            height: 36px;
            margin-right: 10px;
            margin-top: 3px;
        }
    }
    span {
        @include media-breakpoint-down(md) {
            flex: 1;
        }
    }
}
.row-neighbourhood {
    margin-top: 75px;
    margin-bottom: 60px;
    @include media-breakpoint-down(sm) {
        margin-top: 45px;
        margin-bottom: 45px;
    }
    > div {
        .media {
            @include media-breakpoint-down(md) {
                margin-bottom: 50px;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 65px;
                align-items: center;
            }
        }
        &:last-child {
            .media {
                margin-bottom: 0;
            }
        }
    }
    .media {
        padding: 0;
        margin: 0;
        &:before {
            display: none;
        }
        .media-image {
            margin: 0 20px 0 0;
        }
        .media-body {
            p {
                color: $grey-600;
                font-weight: $font-weight-semibold;
                @include media-breakpoint-down(sm) {
                    @include font-size(18px);
                }
                > span {
                    @extend %font-size-54;
                    color: $black-300;
                    font-weight: $font-weight-bold;
                    display: block;
                    margin-top: -6px;
                }
            }
        }
    }
}