/* Air Coolers page */
.section-why-vguard {
    padding-top: 105px;
    @include media-breakpoint-down(sm) {
        padding-top: 45px;
    }
}
.section-why-vguard, .section-innovations {
    .row-media {
        > div {
            &:last-child, &:nth-last-child(2) {
                .media-icons {
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.section-innovations {
    position: relative;
    &:before {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}
.section-video {
    position: relative;
    z-index: 2;
    @include media-breakpoint-up(md) {
        padding-top: 70px;
    }
}
.quick-guide-text {
    @extend %font-size-16;
    line-height: 22px;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    z-index: 4;
    @include media-breakpoint-down(md) {
        line-height: 24px;
        text-align: left;
    }
    @include media-breakpoint-down(sm) {
        @include font-size(14px);
        line-height: 22px;
        margin-bottom: 0;
        align-items: flex-start;
    }
    a {
        color: $blue-100;
        font-weight: $font-weight-semibold;
        @extend %hover-text;
    }
    &:before {
        content: "";
        position: relative; 
        display: inline-block;
        background: url("../images/icons/guide.svg") no-repeat center/cover;
        width: 48px;
        height: 48px;
        margin-right: 15px;
        @include media-breakpoint-down(sm) {
            width: 36px;
            height: 36px;
            margin-right: 10px;
            margin-top: 3px;
        }
    }
    span {
        @include media-breakpoint-down(md) {
            flex: 1;
        }
    }
}
.quick-guide-text-type-2 {
    @extend .quick-guide-text;
    align-items: flex-start;
    margin-bottom: 0;
    span {
        flex: 1;
        text-align: left;
        margin-top: -5px;
    }
}
.row-neighbourhood {
    margin-top: 75px;
    margin-bottom: 60px;
    @include media-breakpoint-down(sm) {
        margin-top: 45px;
        margin-bottom: 45px;
    }
    > div {
        .media {
            @include media-breakpoint-down(md) {
                margin-bottom: 50px;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 65px;
                align-items: center;
            }
        }
        &:last-child {
            .media {
                margin-bottom: 0;
            }
        }
    }
    .media {
        padding: 0;
        margin: 0;
        &:before {
            display: none;
        }
        .media-image {
            margin: 0 20px 0 0;
        }
        .media-body {
            p {
                color: $grey-600;
                font-weight: $font-weight-semibold;
                @include media-breakpoint-down(sm) {
                    @include font-size(18px);
                }
                > span {
                    @extend %font-size-54;
                    color: $black-300;
                    font-weight: $font-weight-bold;
                    display: block;
                    margin-top: -6px;
                }
            }
        }
    }
}
/* Inverter Page */
.section-synergy-smart {
    position: relative;
    .container {
        position: relative;
        z-index: 1;
    }
    .table-block {
        position: absolute;
        top: 110px;
        right: 0;
        width: 100%;
        @include media-breakpoint-down(lg) {
            top: 275px;
        }
        img {
            width: 100%;
            height: 860px;
            object-fit: cover;
            object-position: center 100%;
            @include media-breakpoint-down(lg) {
                height: 570px;
            }
        }
    }
    .more-features-block {
        margin-top: 450px;
        @include media-breakpoint-down(lg) {
            margin-top: 290px;
        }
    }
}
.specification-block {
    @include media-breakpoint-down(lg) {
        max-width: 892px;
    }
    .row {
        align-items: center;
    }
    .col-image {
        img {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }
    .specification-details {
        position: relative;
        padding: 25px 0 25px 75px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        @include media-breakpoint-down(lg) {
            padding: 25px 0 25px 0;
        }
        &:before, &:after {
            content: "";
            background: linear-gradient(90deg, rgba($grey-1000, 0) 0%, $grey-1000 75%, rgba($grey-1000,0) 100%);
            width: calc(95% + 70px);
            height: 1px;
            position: absolute;
            left: -70px;
        }   
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        .media {
            margin-right: 55px;
            &:last-child {
                margin-right: 0;
            }
            .media-body {
                margin: -5px 0 0 12px;
            }
            p {
                @include font-size(16px);
                line-height: 24px;
                margin-bottom: 0;
                @include media-breakpoint-down(sm) {
                    @include font-size(12px);
                }
                span {
                    @include font-size(18px);
                    font-weight: $font-weight-bold;
                    display: block;
                }
            }
        }
    }
    .specification-link {
        @include font-size(16px);
        color: $orange-500;
        font-weight: $font-weight-semibold;
        margin: 15px 0 0 75px;
        display: table;
        @extend %hover-text;
        @include media-breakpoint-down(lg) {
            margin: 15px 0 0 0;
        }
        @include media-breakpoint-down(sm) {
            @include font-size(14px);
        }
    }
}
.more-features-block {
    background: $white-400;
    box-shadow: 0 4px 20px rgba($blue, 0.25);
    position: relative;
    z-index: 2;
    .container {
        @include media-breakpoint-up(xl) {
            max-width: 1320px;
            padding: 0 20px;
        }
    }
    .row-more-features {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 25px 0 15px;
        position: relative;
        @include media-breakpoint-down(lg) {
            flex-flow: row wrap;
            padding: 25px 0 35px;
        }
        &:before, &:after {
            content: "";
            position: absolute;
            height: 100%;
            z-index: -1;
        }
        &:before {
            left: 0;
            top: 0;
            background: linear-gradient(90deg, $orange-600 0%, rgba($orange-600, 0) 100%);
            width: 200px;
            height: 100%;
        }
        &:after {
            background-color: $orange-600;
            width: 100%;
            right: 100%;
            top: 0;
        }
        .btn-interested {
            @include media-breakpoint-down(lg) {
                width: auto;
                display: table;
                position: absolute;
                bottom: -24px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    h4 {
        @extend %font-size-26;
        margin-bottom: 0;
        max-width: 130px;
        @include media-breakpoint-down(lg) {
            transform: rotate(-90deg);
            text-align: center;
        }
    }
}
.section-smart-app {
    padding-top: 100px;
    .col-image {
        position: relative;
        &:before {
            @extend %circular-animation;
            left: 50px;
        }
    }
}
.section-extra-mileage {
    padding: 80px 0 60px;
    margin-bottom: 60px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: url("../images/banner/wall-paint.jpg") no-repeat center 100%/cover;
        width: 100%;
        height: 689px;
        z-index: 0;
        @include media-breakpoint-down(lg) {
            height: 845px;
        }
    }
    .container {
        position: relative;
        z-index: 1;
    }
    .row {
        justify-content: center;
        margin-bottom: 30px;
    }
    .col-icons {
        margin-top: 50px;
        @include media-breakpoint-up(xl) {
            padding: 0;
            flex: 0 0 24%;
            max-width: 24%;
        }
        &:first-child {
            .media-horizontal {
                max-width: 245px;
                margin-left: auto;
            }
        }
    }
    .col-image {
        @include media-breakpoint-up(xl) {
            margin: 0 -15px;
        }
        @include media-breakpoint-down(lg) {
            order: -1;
        }
    }
    .media-horizontal {
        align-items: center;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
        .media-body {
            margin-left: 16px;
            padding-bottom: 0;
            &:before {
                display: none;
            }
            p {
                @extend %font-size-only-20;
                font-weight: $font-weight-semibold;
                @include media-breakpoint-down(sm) {
                    @include font-size(14px);
                }
            }
        }
    }
}