/* Default Form Layouts */ 
.form-control, .custom-select {
    @extend %font-size-only-18;
    color: $grey-700;
    font-weight: $font-weight-regular;
    border-color: $grey-700;
    background-color: transparent;
    border-radius: 12px;
    height: 50px;
    padding: 8px 20px;
    &:focus {
        color: $grey-700;
        background-color: transparent;
        box-shadow: none;
        border-color: $grey-700;
    }
}
::placeholder { 
    color: $grey-700;
    opacity: 1; 
}
:-ms-input-placeholder {
    color: $grey-700;
}
::-ms-input-placeholder {
    color: $grey-700;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
textarea {
    resize: none;
    height: 145px !important;
}
/* Custom select dropdown */ 
.custom-select {
    background: none;
    padding: 0;
    transition: all .15s;
    margin-bottom: 1rem;
    &.custom-select--active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &.custom-select--dropup {
        border-radius: 0 0 12px 12px;
        .custom-select__dropdown {
            bottom: calc(100% + 1px);
            top: auto;
        }
    }
    .custom-select__option {
        @extend %font-size-only-18;
        color: $grey-700;
        font-weight: $font-weight-regular;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        padding: 15px 35px 15px 20px;
        &:after {
            background: url("../images/icons/chevron-down.svg") no-repeat center/cover;
            width: 14px;
            height: 9px;
            border: none;
            right: 20px;
            transition: all .3s;
        }
        @include hover-focus {
            background-color: transparent;
        }
    }
    .custom-select__dropdown {
        top: calc(100% + 1px);
        background-color: $white-100;
        max-height: 250px;
        overflow-y: auto;
        .custom-select__option {
            &:hover {
                background-color: rgba($grey-100, 0.1);
            }
        }
    }
}
/* custom checkbox */ 
.custom-control-label {
    color: $grey-600;
    font-weight: $font-weight-semibold;
    padding: 2px 0 0 6px;
    cursor: pointer;
    &:before, &:after {
        width: 20px;
        height: 20px;
    }
    &:before {
        border-color: rgba($blue-300, 0.5) !important;
        background-color: transparent !important;
        border-radius: 3px !important;
    }
}
.custom-control-input {
    &:focus {
        ~ .custom-control-label:before {
            box-shadow: none;
        }
    }
    &:checked {
        ~ .custom-control-label::before {
            background-color: $blue-300 !important;
            border-color: $blue-300 !important;
        }
    }
}