/* Default Form Layouts */ 
.form-control {
    @extend %font-size-only-18;
    color: $grey-700;
    font-weight: $font-weight-regular;
    border-color: $grey-700;
    background-color: transparent;
    border-radius: 12px;
    height: 50px;
    padding: 8px 20px;
    &:focus {
        color: $grey-700;
        background-color: transparent;
        box-shadow: none;
        border-color: $grey-700;
    }
}
select {
    cursor: pointer;
    margin-bottom: 16px;
    @include media-breakpoint-down(sm) {
        margin-bottom: 25px;
    }
}
::placeholder { 
    color: $grey-700;
    opacity: 1; 
}
:-ms-input-placeholder {
    color: $grey-700;
}
::-ms-input-placeholder {
    color: $grey-700;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
textarea {
    resize: none;
    height: 145px !important;
    padding-top: 15px !important;
    @include media-breakpoint-down(sm) {
        height: 190px !important;
    }
    + span {
        color: $color-primary !important;
        margin-top: 10px;
        display: block;
    }
}
/* custom checkbox */
.custom-control-label {
    color: #606060;
    font-weight: 600;
    padding: 2px 0 0 6px;
    cursor: pointer;
    @include media-breakpoint-down(sm) {
        @include font-size(14px);
    }
    &:before, &:after {
        width: 20px;
        height: 20px;
    }
    &:before {
        border-color: rgba($blue-300, 0.5) !important;
        background-color: transparent !important;
        border-radius: 3px !important;
    }
}
.custom-control-input {
    &:focus {
        ~ .custom-control-label:before {
            box-shadow: none;
        }
    }
    &:checked {
        ~ .custom-control-label::before {
            background-color: $blue-300 !important;
            border-color: $blue-300 !important;
        }
    }
}