/* Default Form Layouts */ 
.form-control, .custom-select {
    @extend %font-size-only-18;
    color: $grey-700;
    font-weight: $font-weight-regular;
    border-color: $grey-700;
    background-color: transparent;
    border-radius: 12px;
    height: 50px;
    padding: 8px 20px;
    &:focus {
        color: $grey-700;
        background-color: transparent;
        box-shadow: none;
        border-color: $grey-700;
    }
}
::placeholder { 
    color: $grey-700;
    opacity: 1; 
}
:-ms-input-placeholder {
    color: $grey-700;
}
::-ms-input-placeholder {
    color: $grey-700;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
textarea {
    resize: none;
    height: 145px !important;
    padding-top: 15px !important;
    @include media-breakpoint-down(sm) {
        height: 190px !important;
    }
}