/* MIXINS */
/* Mixin for impportant */ 
@function if-important($important){
    @return #{if($important, '!important', '')};
  }
/* Mixin for font size */
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}
@mixin font-size ($size, $important: false) {
    font-size: $size if-important($important); //Fallback in px
    font-size: calculateRem($size) if-important($important);
}
/* Mixin for hover focus */ 
@mixin hover-focus () {
    &:hover, &:focus {
        @content;
    }
}
/* Mixin for hover */ 
@mixin hover () {
    &:hover {
        @content;
    }
}
/* Mixin for focus */ 
@mixin focus () {
    &:focus {
        @content;
    }
}