/* Typography */
h1 {
    @include font-size(72px);
    line-height: 80px;
    font-weight: $font-weight-bold;
    @include media-breakpoint-down(sm) {
        @include font-size(33px);
        line-height: 44px;
    }
}
h2 {
    @include font-size(48px);
    font-weight: $font-weight-bold;
    @include media-breakpoint-down(sm) {
        @include font-size(26px);
    }
}
h3 {
    @include font-size(34px);
    font-weight: $font-weight-bold;
    @include media-breakpoint-down(sm) {
        @include font-size(22px);
    }
}
h4 {
    @include font-size(32px);
    font-weight: $font-weight-bold;
    @include media-breakpoint-down(sm) {
        @include font-size(22px);
    }
}
p {
    @include font-size(20px);
    line-height: 32px;
    font-weight: $font-weight-regular;
    @include media-breakpoint-down(sm) {
        @include font-size(16px);
        line-height: 24px;
    }
}
%font-size-54 {
    @include font-size(54px);
    line-height: 1;
    @include media-breakpoint-down(sm) {
        @include font-size(48px);
    }
}
%font-size-40 {
    @include font-size(40px);
    line-height: 46px;
    @include media-breakpoint-down(sm) {
        @include font-size(32px);
        line-height: 36px;
    }
}
%font-size-28 {
    @include font-size(28px);
    line-height: 1;
    @include media-breakpoint-down(sm) {
        @include font-size(24px);
    }
}
%font-size-24 {
    @include font-size(24px);
    line-height: 1;
    @include media-breakpoint-down(sm) {
        @include font-size(16px);
        line-height: 24px;
    }
}
%font-size-22 {
    @include font-size(22px);
    line-height: 1;
}
%font-size-only-20 {
    @include font-size(20px);
    line-height: 1;
}
%font-size-only-18 {
    @include font-size(18px);
    line-height: 1;
}
%font-size-18 {
    @include font-size(18px);
    line-height: 1;
    @include media-breakpoint-down(sm) {
        @include font-size(16px);
        line-height: 24px;
    }
}
%font-size-16 {
    @include font-size(16px);
    line-height: 1;
}
%font-size-14 {
    @include font-size(14px);
    line-height: 1;
}
