/* Utilities */
ul.no-list {
    list-style-type: none;
}
ul {
    margin: 0;
}
/* Font Family */
@each $font-name, $font-family in $font-families {
    .font-#{$font-name} {
        font-family: $font-family;
    }
} 
/* Text Colors */
@each $text-color, $hex-color in $text-colors {
    .color-#{$text-color} {
        color: $hex-color !important;
    }
}
/* center aligned */
%center-aligned {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
/* keyframes */
@-webkit-keyframes shine {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes shine {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes scale {
    0% {
		transform: scale(0.8);
	}
    100% {
		transform: scale(1.1);
	}
}
/* hover */
%hover-text {
	&:hover {
		opacity: 0.7;
	}
} 
/* circular animation */ 
%circular-animation {
	content: "";
	position: absolute;
	background: url("../images/pattern/circle.svg") no-repeat center/cover;
	width: 522px;
	height: 523px;
	left: 20px;
	top: 0;
	@include media-breakpoint-up(xl) {
		animation: scale 2s infinite alternate;
	}
	@include media-breakpoint-down(lg) {
		width: 405px;
		height: 406px;
	}
	@include media-breakpoint-down(md) {
		left: 50px;
		top: -36px;
	}
	@include media-breakpoint-down(sm) {
		width: 490px;
		height: 491px;
		left: 60px;
		top: -10px;
	}
	@include media-breakpoint-down(xs) {
		width: 310px;
		height: 311px;
		left: 0;
	}
} 
/* gradient movement */
%gradient-movement, .gradient-movement {
	position: absolute;
	left: -125px;
	top: -110px;        
	margin: auto;
	opacity: 0.4;
	transition: opacity .3s;
	@include media-breakpoint-down(lg) {
		left: 0;
		top: -35px;
		width: 100%;
		opacity: 1;
	}
	@include media-breakpoint-down(sm) {
		left: 0;
		top: -100px;
	}
	@include media-breakpoint-down(xs) {
		top: 0;
	}
} 